@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-openSans bg-white;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-roboto font-medium;
}

h1 {
  @apply text-3xl;
}

.weekCell {
  @apply flex items-center justify-center outline-teal;
}

.dayCell {
  @apply text-center outline-teal border border-lightMint h-[50px];
}

.sticky-header {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 20;
  width: 97%;
  background: white;
  @apply m-4 !important;
}

.scrolling-text {
  animation: marquee 5s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}