@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white font-openSans;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-roboto font-medium;
}

h1 {
  @apply text-3xl;
}

.weekCell {
  @apply flex items-center justify-center;
}

.dayCell {
  @apply h-[50px] text-center;
}

.sticky-header {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 20;
  background: white;
  width: 97%;
  @apply m-4 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: spin 2s linear infinite;
}
